<!DOCTYPE html>
<html>
<head>
    <title>Excel File Upload and Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">
</head>
<body>
    <h1>Upload the caller-guest Excel File</h1>
    <!-- the action below could be simply /upload -->
    <form action="{{ url_for('main.upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" onchange="form.submit()" name="file" class="choose_file_button" required>
        <!-- <input type="submit" class="submit_button" value="Upload and Generate caller list"> -->
    </form>
</body>
</html>
